<html>

<head>
    <meta charset="utf-8">
    <title>test- Vue.js</title>
    <!-- vue version 1.0.6 -->
    <script type="text/javascript" src="js/vue.js"></script>
    <style type="text/css">
    #demo li,
    .demoli {
        cursor: pointer;
    }
    
    #demo li.done,
    .demo li.dene {
        color: #7f8c8d;
        text-decoration: line-through;
    }
    </style>
</head>

<body>
    <div id="demo">
        <h1>{{title | uppercase}}</h1>
        <ul>
            <li v-for="to in todos">
                {{to.content}}
            </li>
        </ul>
    </div>
    <br>
    <hr>
    <ul id="demo2">
        <!-- 行内调data索引 -->
        <li v-for="item in items" class="item-{{$index}}">
            {{$index}} - {{parentMsg}} - {{item.childMsg}}
        </li>
    </ul>
    <br>
    <hr>
    <br>
    <ul id="demo4">
        <li v-for="value in tags">
            {{$index}} - {{value}}
        </li>
    </ul>
    <br>
    <hr>
    <br>
    <ul id="demo6">
        <li v-for="value in primitiveValues">{{$key}} : {{value}}</li>
        <li>===============</li>
        <li v-for="v in objectValues">{{$key}} : {{v.msg}}</li>
    </ul>
    <br>
    <hr>
    <br>
    <ul id="demo7">
        <!-- v-repeat值为整数时,它将重复显示模板多次 -->
        <li v-for="v in val"> Hi {{v}}
        </li>
    </ul>
    <br>
    <hr>
    <br>
    <div id="demo8">
        <button v-on:click="onClick">触发一个方法函数</button>
        <br>
        <button v-on:click="n++">触发一个表达式 - {{n}}</button>
    </div>
    <br>
    <hr>
    <br>
    <ul id="demo9">
        <h3>点击隐藏行</h3>
        <li v-for="item in items" v-on:click="toggle(item)" v-show="item.done">
            {{item.text}}
        </li>
    </ul>
    <!-- 当你想要在表达式中访问原来的DOM event, 可以传递一个$event参数
<button v-on="click: submit('hello', $event)"></button>
{ methods: {submit:function(msg, e){ e.stopPropagation(); }} } -->
    <br>
    <hr>
    <br>
    <div id="demo10">
        <input v-on:keyup.13="submit">
        <br>
        <input v-on:keyup.enter="submit2">
    </div>
</body>

</html>
<script type=" text/javascript " src="js/testVue.js "></script>