<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>test-hd.js</title>
    <script src="js/moment.js"></script>
    <script src="js/hd.js"></script>
    <script src="js/test.js"></script>
    <script>
    // console.log(__.now());
    // console.log(_sole.isFunction(1));
    // console.log(_sole.isArray([]));
    // console.log(__.isLeapYear(1999))
    // console.log(__.getRandomColor())
    // alert(__.getBrowserType())
    // console.log(__.arrayUnique([1, 3, 5, 3, 4]))
    // console.log(__.getDaysInYearAndMonth(2015, 1));
    // console.log(__.isPhone("13888884561"))
    // console.log(__.disturbArray([1, 2, 3, 4, 5, 1]))
    (function() {
        var cache = {};

        this.tmpl = function tmpl(str, data) {
            // Figure out if we're getting a template, or if we need to  
            // load the template - and be sure to cache the result.  
            var fn = !/\W/.test(str) ?
                cache[str] = cache[str] ||
                tmpl(document.getElementById(str).innerHTML) :

                // Generate a reusable function that will serve as a template  
                // generator (and which will be cached).  
                new Function("obj",
                    "var p=[],print=function(){p.push.apply(p,arguments);};" +

                    // Introduce the data as local variables using with(){}  
                    "with(obj){p.push('" +

                    // Convert the template into pure JavaScript  
                    str
                    .replace(/[\r\t\n]/g, " ")
                    .split("<%").join("\t")
                    .replace(/((^|%>)[^\t]*)'/g, "$1\r")
                    .replace(/\t=(.*?)%>/g, "',$1,'")
                    .split("\t").join("');")
                    .split("%>").join("p.push('")
                    .split("\r").join("\\'") + "');}return p.join('');");

            // Provide some basic currying to the user  
            return data ? fn(data) : fn;
        };
    })();
    </script>
</head>
<style type="text/css">
* {
    padding: 0;
    margin: 0;
}

#box {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #eee;
}

#head {
    height: 40px;
    background: orange;
}
</style>

<body>
    <div id="box">
        <div id="head"></div>
        <div id="con"></div>
        <div id="foot"></div>
    </div>
    <div id="results">
        <ul id="item_tmpl">
            <li>
                <a href=""></a>
            </li>
        </ul>
    </div>
</body>
<script type="text/javascript">
function tc(dTitle, drag) {
    var disX = disY = 0;
    var isDrag = false;
    dTitle.onmousedown = function(evt) {
        evt = evt || window.event;
        isDrag = true;

        disX = evt.clientX - drag.offsetLeft;
        disY = evt.clientY - drag.offsetTop;

        return false;
    }

    drag.onmousemove = function(evt) {
        evt = evt || window.event;
        if (!isDrag) return false;

        drag.style.margin = 0;
        var left = evt.clientX - disX,
            top = evt.clientY - disY;
        //限制弹框范围
        if (left < 0) {
            left = 0;
        }
        if (top < 0) {
            top = 0;
        }
        if (left > window.screen.width - drag.clientWidth) {
            left = window.screen.width - drag.clientWidth;
        }
        if (top > document.body.top - drag.clientHeight) {
            top = document.body.width - drag.clientHeight;
        }
        drag.style.left = left + 'px';
        drag.style.top = top + 'px';

        return false;
    }

    drag.onmouseup = function() {
        isDrag = false;
    }
}
var o1 = document.getElementById("head");
var o2 = document.getElementById("box")
tc(o1, o2)
</script>
<script type="text/html" id="user_tmpl">
    <% for ( var i = 0; i < users.length; i++ ) { %>
        <li>
            <a href="<%=users[i].url%>">
                <%=users[i].name%>
            </a>
        </li>
        <% } %>
</script>
<script type="text/javascript">
var results = document.getElementById("results");
results.innerHTML = tmpl("item_tmpl", {
    0: {

        name: "yinweiyi",
        url: "baidu.com"
    }
});
</script>
<script type="text/javascript">
var i = 0;
var len = 5;
while (i < len) {
    console.log(i++);
}
</script>

</html>