/*iphone 开关按钮*/
#div1{
    width: 170px;
    height: 100px;
    border-radius: 50px;
    position: relative;
}
#div2{
    width: 96px;
    height: 96px;
    border-radius: 48px;
    position: absolute;
    background: white;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
}
.open1{
    background: rgba(0,184,0,0.8);
}
.open2{
    top: 2px;
    right: 1px;
}
.close1{
    background: rgba(255,255,255,0.4);
    border:3px solid rgba(0,0,0,0.15);
    border-left: transparent;
}
.close2{
    left: 0px;
    top: 0px;
    border:2px solid rgba(0,0,0,0.1);
}

/*叉号*/
.x-mark {
    display: inline-block;
    width: 30px;
    height: 3px;
    background: #666;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    transform: rotate(45deg);
}
.x-mark:after {
    content: ' ';
    display: block;
    width: 30px;
    height: 3px;
    background: #666;
    transform: rotate(-90deg);
}

/* 各种居中*/
.demo{
    line-height:44px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #0078e7;
    color: #fff;
}

.flex-equal,.flex-center, .justify {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.flex-equal li {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.table-equal {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.table-equal li {
    display: table-cell;
}
.demo-center{
    border: 1px solid #ccc;
    margin:20px;
    height:200px;
}
.demo-center .children{
    background: #0078e7;
    color: #fff;
    width:150px;
    line-height:5;
    text-align:center;
}
.flex-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.translate-center{
    position: relative;
}

.translate-center .children{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.justify {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 0 10px;
    background: #0078e7;
    color:#fff;
    line-height: 32px;
}