#__vconsole {
    font-size: 13px
}

/* 触发 按钮*/
#__vconsole .vc-switch {
    display: block;
    position: fixed;
    right: 10px;
    bottom: 10px;
    color: #fff;
    background-color: #04be02;
    padding: 8px 16px;
    z-index: 10000;
}
/*遮罩层*/
#__vconsole .vc-mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 10001;
    transition: background .3s;
    -webkit-tap-highlight-color: transparent
}

#__vconsole .vc-panel {
    position: fixed;
    min-height: 80%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10002;
    background-color: #efeff4;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    -webkit-transform: translateY(100%);
    transform: translateY(100%)
}

#__vconsole .vc-tabbar {
    border-bottom: 1px solid #d9d9d9;
    overflow: hidden
}

#__vconsole .vc-tabbar .vc-tab {
    float: left;
    line-height: 39px;
    padding: 0 15px;
    border-right: 1px solid #d9d9d9;
    text-decoration: none;
    color: #000;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none
}

#__vconsole .vc-tabbar .vc-tab:active {
    background-color: rgba(0, 0, 0, .15)
}

#__vconsole .vc-tabbar .vc-tab.vc-actived {
    background-color: #fff
}

#__vconsole .vc-content {
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 40px;
    -webkit-overflow-scrolling: touch
}

#__vconsole .vc-logbox {
    display: none;
    position: relative;
    height: 100%
}

#__vconsole .vc-logbox i {
    font-style: normal
}

#__vconsole .vc-logbox .vc-log {
    -webkit-tap-highlight-color: transparent
}

#__vconsole .vc-logbox .vc-log:empty:before {
    content: "No log";
    color: #999;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 15px;
    text-align: center
}

#__vconsole .vc-logbox .vc-item {
    margin: 0;
    padding: 6px 8px;
    line-height: 1.3;
    border-bottom: 1px solid #eee;
    word-break: break-word
}

#__vconsole .vc-logbox .vc-item-info {
    color: #6a5acd
}

#__vconsole .vc-logbox .vc-item-debug {
    color: #daa520
}

#__vconsole .vc-logbox .vc-item-warn {
    color: orange;
    border-color: #ffb930;
    background-color: #fffacd
}

#__vconsole .vc-logbox .vc-item-error {
    color: #dc143c;
    border-color: #f4a0ab;
    background-color: #ffe4e1
}

#__vconsole .vc-logbox .vc-item .vc-fold {
    display: block;
    max-height: 300px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch
}

#__vconsole .vc-logbox .vc-item .vc-fold .vc-fold-outer {
    display: block;
    font-style: italic
}

#__vconsole .vc-logbox .vc-item .vc-fold .vc-fold-outer:active {
    background-color: rgba(0, 0, 0, .15)
}

#__vconsole .vc-logbox .vc-item .vc-fold .vc-fold-outer {
    padding-left: 10px;
    position: relative
}

#__vconsole .vc-logbox .vc-item .vc-fold .vc-fold-outer:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 2px;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-left-color: #000
}

#__vconsole .vc-logbox .vc-item .vc-fold .vc-fold-inner {
    display: none
}

#__vconsole .vc-logbox .vc-item .vc-fold.vc-toggle .vc-fold-outer:before {
    top: 6px;
    left: 0;
    border-top-color: #000;
    border-left-color: transparent
}

#__vconsole .vc-logbox .vc-item .vc-fold.vc-toggle .vc-fold-inner {
    display: block
}

#__vconsole .vc-logbox .vc-code-key {
    color: #905
}

#__vconsole .vc-logbox .vc-code-number {
    color: #0086b3
}

#__vconsole .vc-logbox .vc-code-string {
    color: #183691
}

#__vconsole .vc-logbox.vc-actived {
    display: block
}

#__vconsole .vc-toolbar {
    border-top: 1px solid #d9d9d9;
    line-height: 39px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden
}

#__vconsole .vc-toolbar .vc-tool {
    text-decoration: none;
    color: #000;
    width: 50%;
    float: left;
    text-align: center;
    position: relative;
    -webkit-touch-callout: none
}

#__vconsole .vc-toolbar .vc-tool:after {
    content: " ";
    position: absolute;
    top: 7px;
    bottom: 7px;
    right: 0;
    border-left: 1px solid #d9d9d9
}

#__vconsole .vc-toolbar .vc-tool-last:after {
    border: none
}

#__vconsole.vc-toggle .vc-switch {
    display: none
}

#__vconsole.vc-toggle .vc-mask {
    background: rgba(0, 0, 0, .6);
    display: block
}

#__vconsole.vc-toggle .vc-panel {
    -webkit-transform: translate(0);
    transform: translate(0)
}

#__vconsole .vc-panel2 {
    position: fixed;
    min-height: 80%;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10002;
    background-color: #efeff4;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
}
#__vconsole.vc-toggle .vc-panel2 {
    -webkit-transform: translate(0);
    transform: translate(0)
}